@import "../config";

.disclaimer {
  position: absolute;
  width: 320px;
  height: 568px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: $largeUnit;
  background-color: rgba(255, 255, 255, 0.9);

  &--hidden {
    display: none;
  }

  &__text {
    color: $primary;
  }

  &__button {
    padding: $smallUnit;
    margin: $largeUnit 0;
    border-color: $primary;
    color: $primary;
    font-weight: 800;
  }
}
