@import "../config";

.surprise {
  @include flexColumn;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: $hugeUnit * 1.5;

  &__new-button {
    @include action-button;
    margin: auto 0 $largeUnit;
    background-color: $coona-red;
  }
}
