@import "../config";

.home {
  @include flexColumn;
  width: 100%;
  height: 100%;
  background-image: url(../assets/AF002142_01.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 120px;

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: auto 0 $largeUnit;

    &--surprise {
      @include action-button;
      background-color: $coona-red;
    }

    &--search {
      @include action-button;
      background-color: $coona-grey;
    }
  }
}
