@import "../config";

.search {
  @include flexColumn;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: $largeUnit;

  &__title {
    width: 200px;
    padding-bottom: $smallUnit;
    margin: 15px auto;
    border-bottom: 2px solid $coona-red;

    &--count {
      opacity: 0.6;
      font-size: 12px;
    }
  }

  &__filter {
    @include filter;
    background-color: $coona-grey;
    color: white;

    &--selected {
      @include filter;
      background-color: white;
      color: $coona-grey;
    }
  }

  &__horizontal-slide {
    margin: auto 0 $smallUnit;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
  }

  &__result-count {
    margin: 0 0 $smallUnit;
    font-size: 12px;
  }
}
